
.direita_inf{
	position: absolute;
    bottom: 8px;
    right: 16px;  
}

.esquerda_inf{
	position: fixed;
    bottom: 8px;
    left: 16px;  
}

.centralizado{
	position: absolute;
    left: 0;
    top: 37%;
    width: 100%;
    padding:10px 15px 20px 15px;
}

.caixa_texto{

 	width: 350px; 
	margin: 10px 10px 10px 10px;

}

.botao_centro{
	position: relative;
	right: 30%;
	margin: 10px 10px 10px 10px;

}

.bg_login{
	background-image: url("imagem_fundo.jpg");
}

.fonte{
	font-family: 'Great Vibes', cursive;
	font-size: 425%;
}
.lista{
	padding:10px 15px 10px 15px;
	height: 50px;
}
 .calendario{
	height: 550px;
	width: 370px;
 }
